<%- include('../../partials/header.ejs')%>
<%- include('../../partials/navbar.ejs')%>
<div class="container">
    <hr>
    <h2>Artigos</h2>
    <a class="btn btn-success" href="/admin/articles/new">Criar Nova Artigo</a>
    <hr>
    <table class="table table-bordered">
        <thead>
            <tr><!--Linhas-->
                <th>ID</th><!--Colunas-->
                <th>Título</th>
                <th>Slug</th>
                <th>Category</th>
                <th>Ações</th>
            </tr> 
        </thead>
        <tbody>
            
              <% articles.forEach(article =>{ %>
            <tr><!--Linhas-->
                <td><%= article.id%></td><!--Colunas-->
                <td><%=article.title%></td>
                <td><%=article.slug%></td>
                <td><%=article.category.title%></td>
                <td>
                    <form method="post" action="/articles/delete" style="display:inline;" onsubmit="confirmarDelecao(event,this)">
                        <input type="hidden" name="id" value="<%= article.id%>"> <!--id é o mesmo nome da variavel-->
                        <button class="btn btn-danger">Deletar</button>
                    </form>
                </td>
            </tr>
              <% }) %>
              
        </tbody>
    </table>
</div>

<%- include('../../partials/footer.ejs')%>

<!--CONFIRMANDO O DELETE-->
<script>
    function confirmarDelecao(event, form){
        event.preventDefault();
        var decision = confirm("Você quer realmente deletar está artigo?");
        if(decision){
            form.submit();
        }
    }
</script>